.container{
  margin: 10px;
  padding: 10px;
  border: 0.1px solid;
  border-radius: 12px;
  background: #eef2ff;
  border-color: #a0add5;
}

.headerClass{
  padding: 5px;
}
.inputForm{
    padding: 10px;
    display: flex;          
    align-items: center ;  
    gap: 10px ;
}
.inputLabel{
    font-weight: 400; 
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 250px ;
}

.inputClass{
  max-width: 200px;
  padding: 5px;
  border-radius: 5px;
  flex: 1 ;
  border: 1px solid;
}

.result{
    margin: 10px;
  padding: 10px;
   border: 0.1px solid;
  border-radius: 12px;
  background: #eef2ff;
  border-color: #a0add5;
}


.selectClass{
  max-width: 200px;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  flex: 1 ;
  border: 1px solid;
}
